<!DOCTYPE html>
<html lang="en">

  <head>
    <style>

    </style>
  </head>

  <body>
    <!-- UART -->
    <form>
      <fieldset>
       <label>Function Debug </label>
       <br> <br>
       <div>
         <label>baudrate :&nbsp</label>
         <select id="baudrate">
           <option value="0">9600</option>
           <option value="1">14400</option>
           <option value="2">19200</option>
           <option value="3">38400</option>
           <option value="4">57600</option>
           <option value="5">115200</option>
           <option value="6">230400</option>
           <option value="7">460800</option>
           <option value="8">921600</option>
         </select>
         <label>Data :&nbsp</label>
         <select id="data">
           <option value="0">7 bit</option>
           <option value="1">8 bit</option>
         </select>
         <label>parity :&nbsp</label>
         <select id="parity">
           <option value="0">none</option>
           <option value="1">odd</option>
           <option value="2">even</option>
           <option value="3">mark</option>
           <option value="4">space</option>
         </select>
         <label>stop bits :&nbsp</label>
         <select id="stop bits">
           <option value="0">1 bit</option>
           <option value="1">1.5 bit</option>
           <option value="2">2 bit</option>
         </select>
       </div>
       <div>
         <br>
         <button type = "button" id="start" onclick="Start()">Start Debug</button>
         <button type = "button" id="stop" onclick="Stop()">Stop Debug</button>
         <button type = "button" onclick="Copy()">Copy to clipboard</button>
         <button type = "button" onclick="Save()">Save on USB Driver</button>
         <button type = "button" id="create">Create file</button>
          <a download = "io.txt" id="downloadlink" style="display: none">Download to USB</a>
         <button type = "button" style="float: right;" onclick="window.location.href='/logcapture/'">To CEC Log Capture</button>
       </div>
      </fieldset>
    </form>
    
    <!-- Debug -->
    <form>
      <fieldset>
        <textarea id="section"  style="width:100%; height:100%" rows = 40 placeholder = "ex) ??"></textarea>
      </fieldset>
    </form>
  </body>

  <script>
  (function () {
var textFile = null,
  makeTextFile = function (text) {
    var data = new Blob([text], {type: 'text/plain'});

    // If we are replacing a previously generated file we need to
    // manually revoke the object URL to avoid memory leaks.
    if (textFile !== null) {
      window.URL.revokeObjectURL(textFile);
    }

    textFile = window.URL.createObjectURL(data);

    return textFile;
  };


  var create = document.getElementById('create'),
    textbox = document.getElementById('section');

  create.addEventListener('click', function () {
    var filename =  prompt("Please enter file name:");
    if(filename == null || filename == "") {
      alert("write file name");
    }
    else {
      var link = document.getElementById('downloadlink');
      link.href = makeTextFile(textbox.value);
      link.style.display = 'inline';
      link.innerHTML = filename + ".txt";
      link.download = filename + ".txt";
    }
  }, false);
})();
	function Connect() {
      //rpi
    }
    
    function Start() {
      //rpi
      var startbtn = document.getElementById("start");
      var stopbtn = document.getElementById("stop");
      startbtn.style.borderStyle = 'inset';
      stopbtn.style.borderStyle = 'outset';
      btn_state = 'start ' + document.getElementById("baudrate").value + document.getElementById("data").value 
	+ document.getElementById("parity").value + document.getElementById("stop bits").value ;
      var textarea = document.getElementById('section');
      textarea.scrollTop = textarea.scrollHeight;
    }
    function Stop() {
      //rpi
      var startbtn = document.getElementById("start");
      var stopbtn = document.getElementById("stop");
      startbtn.style.borderStyle = 'outset';
      stopbtn.style.borderStyle = 'inset';
      btn_state = 'stop';
    }
    
    function Copy() {
       var copyText = document.getElementById("section");
       copyText.select();
       copyText.setSelectionRange(0, -1);
       document.execCommand("copy");
       alert("Complete!");
    }

    function Save() {
      var filename =  prompt("Please enter file name:");
      if(filename == null || filename == "") {
        alert("write file name");
      }
      else {
        btn_state = 'save' + filename +'.txt ' + document.getElementById('section').value;
      }
   } 

  var Input = document.getElementById("CECInput");
  var sock = new WebSocket("ws://"+document.location.hostname+":8080"); //"ws://"+document.location.hostname+":8080"
  var btn_state = '2';
  var pre_btn_state = '2';
  sock.onmessage = function (e) {
    console.log(e.data);
    if(document.getElementById('section').value != e.data.toString())
	document.getElementById('section').value = e.data.toString();

    pre_btn_state = e.data;
    sock.send(btn_state);
    if(btn_state != '2') btn_state = '2';
  };
  sock.onopen = function(e) {
    console.log("open");
  };
  sock.onclose = function(e) {
    console.log("close");
  };
  sock.onerror = function(e) {
    console.log(e.data)
  };
  </script>
</html>
